#cookies-consent-box {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
    width: 170px;
    height: 235px;
    padding: 1em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#cookies-consent-box .icon i {
    font-size: xx-large;
    transform: rotate(-.25turn);
}

#cookies-consent-box .close {
    position: absolute;
    top: 1em;
    right: 1em;
}

#cookies-consent-box p {
    margin-top: 3em;
}

#cookies-consent-box .button {
    background-color: white;
    color: black;
    border-radius: .5em;
    padding: .5em;
    text-align: center;
    
    width: 90%;
    margin-top: .25em;
}

#cookies-consent-box .button.red {
    background-color: indianred;
}

#cookies-consent-box .button.green {
    background-color: #70b470;
}